*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}

nav li {
    display: inline;
}

nav li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 0 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

header {
    background: url(images/Homepage.jpg);
    width: 100vw;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

header h1 {
    color: white;
}

.logo {
    height: 9vmin;
    cursor: pointer;
}
/* forms */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn {
    text-align: center;
}
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0056b3;
}

.homepage-image {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

